.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.container {
    width: 1000px;
    margin-top: 40px;
    position: relative;
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 5px;
}
h2 {
    font-weight: 400;
}
h3 {
    font-size: 28px;
}
h3::after {
    content: 'очков';
    margin-left: 10px;
    font-weight: 300;
    color: #808080;
}
.form {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.form-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.description {
    background-color: #F2F2F2;
    border-radius: 5px;
    padding: 10px 15px;
}
.btn-back {
    position: absolute;
    left: -100px;
    top: 0;
    transition: .3s;
}

.answer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
    
    border-radius: 5px;
    padding: 10px;
    
    width: 100%;
    
    transition: .4s ease-in;
    opacity: 0;
    display: none;
}
.wrong {
    background-color: #ff562218;
    border: 1px solid #ff5722;
    color: #ff5722;
    margin-left: 20px;
}
.hide {
    display: none;
}
.currect {
    background-color: #E2F7DC;
    border: 1px solid #3F9726;
    color: #3F9726;
}
.complete {
    border: 1px solid #3F9726;
    color: #3F9726;
    background-color: #E2F7DC;
}
.answer-show {
    display: flex;
    opacity: 1;
}

.answer p {
    font-size: 24px;
    font-weight: 600;
}
.currect p {
    color: #3F9726;
}
.wrong p {
    color: #ff5722;
}

@media (max-width: 1200px) {
    .btn-back {
        left: 20px;
        top: 20px;
        z-index: 1;
    }
    .mat-card {
        padding-top: 60px;
    }
}