<div class="wrapper">
  <div class="container">

    <div class="user-info-container">
      <div class="user-avatar"></div>
      <div class="user-info">
        <div>
          <h1>{{ user.name }}</h1>
          <h2>{{ user.score }}</h2>
        </div>
      </div>
    </div>
    <div class="quests-container">
      <div class="count-quests">
        <h2>Выполнено квестов: </h2>
        <h4>{{ user.questCount }}</h4>
      </div>
      <div *ngIf="user.quests.length">
        <mat-card class="quest-card" 
                  *ngFor="let quest of user.quests" 
                  routerLink="/quest/{{quest.id}}"
        >
          <div class="quest-name">
            <h3>{{ quest.name }}</h3>
            <h4>{{ quest.tag }}</h4>
          </div>
          <div class="quest-price">
            <button mat-button color="primary">
              <h2>{{ quest.price }}</h2>
            </button>
          </div>
        </mat-card>
      </div>

      <div class="no-quests" *ngIf="isNoneQuest">
        <h1>У вас пока нет выполненых кветов</h1>
        <div class="no-quest-img"></div>
      </div>

    </div>

  </div>
</div>
