<div class="wrapper">
  <div class="container">

    <div class="user-info-container">
      <div class="user-avatar"></div>
      <div class="user-info">
        <h1>{{ user.name }}</h1>
        <h2>{{ user.score }}</h2>
      </div>
    </div>
    <div class="quests-container">
      <div class="count-quests">
        <h2>Выполнено квестов: </h2>
        <h4>{{ user.questCount }}</h4>
      </div>

      <mat-card class="quest-card" *ngFor="let quest of user.quests">
        <div class="quest-name">
          <h3>{{ quest.name }}</h3>
          <h4>{{ quest.tag }}</h4>
        </div>
        <div class="quest-price">
            <button mat-button color="primary">
              <h2>{{ quest.price }}</h2>
            </button>

        </div>
        <!-- Здесь можно поместить переход на квест -->
        <button mat-button class="quest-click" routerLink="/quest/{{quest.id}}"></button>
      </mat-card>

    </div>

  </div>
</div>