mat-toolbar {
  background-color: #593b43;
  color: #FFFFFF;
}

mat-toolbar-row {
  display: flex;
  justify-content: space-between;
}

.title {
  color: #FFFFFF;
  text-decoration: none;
}
.title:hover {
  text-decoration: underline;
}

button:nth-child(1n) {
  margin-right: 10px;
}



@media (max-width: 370px) {
  mat-toolbar-row {
    flex-direction: column;
    align-items: center;
  }
}