<mat-toolbar>
  <mat-toolbar-row>
    <span><a href="/" class="title" id="weekTitle"> WeekEnd Challenge</a></span>
    <div class="toolbar-ctr">
      <button mat-flat-button color="primary" routerLink="/tasks">Задачи</button>
      <span *ngIf="isLogin()">
        <button mat-button [matMenuTriggerFor]="menu">{{userName()}}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/me">Моя страница</button>
          <button mat-menu-item (click)='logout()'>Выход</button>
        </mat-menu>
      </span>
      <span *ngIf="!isLogin()">
        <button mat-flat-button color="primary" routerLink="/login">Вход</button>
        <!-- <button mat-flat-button color="primary" routerLink="/login">Регистрация</button> -->
      </span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
