mat-toolbar {
  background-color: #523E46;
  color: #FFFFFF;
}

mat-toolbar-row {
  display: flex;
  justify-content: space-between;
}

.title {
  color: #FFFFFF;
  text-decoration: none;
}
button:nth-child(1n) {
  margin-right: 10px;
}