.avatar {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  margin: auto;
  margin-top: 2em;
  /* background-color: #523e4694; */
  background-image: url('../../../assets/img/bg-santa-choose.jpg');
  background-position: 73% 36%;
  background-size: 118%;
}

.wrapper {
  margin-top: 3em;
  display: flex;
  align-items: center;
  display: block;
  text-align: center;
  justify-content: center;
}