<div class="wrapper">
    <mat-card>
      <mat-card-content>
        <form>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Login</mat-label>
            <input matInput placeholder="Email" [(ngModel)]="email" name="email" required>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
          </mat-form-field>
          <button mat-stroked-button (click)="login()" color="primary">Login</button>
        </form>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      </mat-card-content>
    </mat-card>
    <div class="bg-wrapper">
      <div class="background"></div>
    </div>
</div>
