<div class="wrapper">
<mat-card>
  <h2 mat-dialog-title>Вход</h2>
<form class="form" [formGroup]="loginForm">
  <mat-form-field class="full-width">
    <input matInput placeholder="Email" formControlName="email">
    <mat-error *ngIf="!loginForm.get('email').hasError('email') && !loginForm.get('email').hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="!loginForm.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput placeholder="Password" formControlName="password">
    <mat-error *ngIf="loginForm.get('password').hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>

</form>
<mat-dialog-actions class="full-width">
  <div class="button" *ngIf="!isLoading">
    <button mat-raised-button color="primary" [disabled]="!loginForm.valid" (click)="login(loginForm.value)">Войти</button>
    <!-- <button mat-raised-button (click)="goToRegister()">Go to Registration</button> -->
  </div>
  <mat-spinner class="spinner" [diameter]="36" *ngIf="isLoading"></mat-spinner>
</mat-dialog-actions>
</mat-card>
<div class="bg-wrapper">
  <div class="background"></div>
</div>
</div>