
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
.quest-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  align-items: flex-start;
}
.tag {
  margin: 20px;
  width: 250px;
  align-items: flex-start;
}

.quest-wrapper {
    width: 100%;
    padding: 0;
}

.quest {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.75;
  transition: .3s;
}
.card-quest {
    margin-bottom: 20px;
}
.quest:hover {
    border-radius: 5px;
    opacity: 100;
}

.title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

.quest-name {
    width: 80%;
    text-align: left;
    white-space: pre-line;
}

.quest-price {
    font-weight: 900;
    border-radius: 5px;
    background-color: #ff56223b;
    padding: 5px 15px;
}

p {
    margin: 0;
}

.no-data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: .4;
}

.mat-flat-button[disabled][disabled] {
    background: none;
}