<div class="wrapper">
  <div class="quest-container">
    <!-- первый for по категориям -->                          <!-- Очень нужные коментарии в продакшен коде от Тима -->
    <mat-card *ngFor="let categorys of categoryList" class="category">
      <div class="title">{{ categorys.category }}</div>
      <div class="list-quest">
        <!-- второй for по квестам -->                         <!-- Очень нужные коментарии в продакшен коде от Тима -->
        <div *ngFor="let quest of categorys.quests" class="quest">
          <span>{{ quest.name }}</span>
          <button mat-flat-button color="primary">{{ quest.price }}</button>
        </div>
      </div>
    </mat-card>
  </div>
</div>
