<div class="box">
  <!-- TODO: ngfor here -->
<mat-card>
  <mat-list role="list">
    <mat-list-item role="listitem">{{questMock.name}}
      <!-- Такие варианты смотрел, но они все гавно, последний вроде ок. -->
      <!-- <button mat-button color="primary">{{questMock.price}}</button> -->
      <!-- <button mat-mini-fab color="accent">{{questMock.price}}</button> -->
      <button mat-stroked-button color="accent">{{questMock.price}}</button>
    </mat-list-item>
  </mat-list>
</mat-card>
</div>